.footer {
	background-color: var(--color-principal);

	display: grid;
	grid-auto-flow: column;

	position: relative;
	z-index: 0;
}

	.footer-agradecimientos,
	.footer-dedicatoria {
		font-size: 0.9em;
		margin: 1em var(--espaciado-normal);
		color: var(--color-white);

		font-weight: 300;
		line-height: 3em;
	}

	.footer-agradecimientos img {
			height: 2em;
			vertical-align: middle;
	}

	.footer-dedicatoria {
		text-align: right;
	}
	.footer-dedicatoria a {
		color: var(--color-white);
	}